@charset "UTF-8";

<style>
.parallax {
  /* The image used */
  background-image: ;

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

 Container element 
<div class="parallax"></div>background-image {
}
.parallax {
	background-image: url(images_parallax/forest.jpg);
}
